<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, aliquam.</p>
    </header>
    <div style="width:30%;padding: 4rem;">
        <div class="card card--primary">
            <header class="card__header">
                Card Header
            </header>
            <div class="card__body">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium molestiae quia velit
                perspiciatis
                distinctio maiores doloribus itaque voluptatem est at, eaque culpa, earum voluptatibus obcaecati optio
                nostrum aut ipsum?
            </div>
        </div>
    </div>
</section>

<section class="block block--dark block--skewed-left">
    <div class="container">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, aliquam.</p>
    </div>
</section>